################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/req-res-log-monolitico/MFedatto.ReqRes.LogMonolitico/.vs/MFedatto.ReqRes.LogMonolitico/v17
